@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
</head>
<body>
    <div>
        <p>登录的用户是：@ViewBag.Username; </p>
        <p>@Html.ActionLink("返回主页面", "Index");</p>
    </div>
</body>
</html>
