<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="myconnstring" connectionString="Data Source=DELL630\SQLEXPRESS;Initial Catalog=StudDB;        User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpRuntime targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".aspx" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="default.html" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>