
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="index.html">ATLANT</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-title">导航菜单</li>
                <li>
                    <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">后台首页</span><div class="informer informer-warning">No.1</div></a>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-gears"></span> <span class="xn-text">系统管理</span></a>
                    <ul>
                        <li><a href="announcement.html"><span class="glyphicon glyphicon-bullhorn"></span> 资讯与公告</a></li>
                        <li><a href="administrators.html"><span class="fa fa-user"></span> 管理员管理</a></li>
                        <li><a href="user-points.html"><span class="fa fa-heart"></span> 积分管理</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="admin-permission.html"><span class="glyphicon glyphicon-check"></span> 权限设置</a></li>
                        <li><a href="setting.html"><span class="fa fa-cog"></span> 系统设置</a><div class="informer informer-warning">No.1</div></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-file-o"></span> <span class="xn-text">练习管理</span></a>
                    <ul>
                        <li><a href="exercises-library.html"><span class="fa fa-file-o"></span> 练习题库</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="exercises-category.html"><span class="fa fa-list-ul"></span> 练习题分类管理</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="exercises-setting.html"><span class="fa fa-clipboard"></span> 练习题设置</a><div class="informer informer-warning">No.1</div></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-file"></span> <span class="xn-text">考试管理</span></a>
                    <ul>
                        <li><a href="exam-library.html"><span class="fa fa-file"></span> 考试题库</a></li>
                        <li><a href="exam-category.html"><span class="fa fa-list"></span> 考试题分类管理</a></li>
                        <li><a href="exam-setting.html"><span class="fa fa-clipboard"></span> 考试题设置</a></li>
                    </ul>
                </li>
                <li class="xn-openable active">
                    <a href="#"><span class="fa fa-male"></span> <span class="xn-text">学生系统</span></a>
                    <ul>
                        <li class="active"><a href="student-info.html"><span class="fa fa-male"></span> 学生信息管理</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="student-class.html"><span class="fa fa-th-large"></span> 班级设置</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="student-school.html"><span class="glyphicon glyphicon-map-marker"></span> 校区设置</a><div class="informer informer-warning">No.1</div></li>
                        <li><a href="student-fee.html"><span class="fa fa-rmb"></span> 费用管理</a><div class="informer informer-warning">No.1</div></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="glyphicon glyphicon-wrench"></span> <span class="xn-text">就业系统</span></a>
                    <ul>
                        <li><a href="work-agreement.html"><span class="glyphicon glyphicon-file"></span> 就业协议书</a></li>
                        <li><a href="work-.html"><span class="glyphicon glyphicon-user"></span> 就业信息</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-smile-o"></span> <span class="xn-text">活动管理</span></a>
                    <ul>
                        <li><a href="arena.html"><span class="fa fa-trophy"></span> 竞技场</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="glyphicon glyphicon-cloud"></span> <span class="xn-text">大数据分析</span></a>
                    <ul>
                        <li><a href="website-statistics.html"><span class="fa fa-th"></span> 网站统计</a></li>
                        <li><a href="website-statistics.html"><span class="fa fa-dollar"></span> 薪资分析</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="学生姓名..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-power-off"></span></a>
                </li>
                <!-- END SIGN OUT -->
                <!-- MESSAGE -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-envelope"></span></a>
                    <div class="informer informer-danger">4</div>
                </li>
                <!-- END MESSAGE -->
                <li class="button pull-right">
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        范爷
                    </a>
                </li>
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="#">学生系统</a></li>
                <li>学生信息管理</li>
                <li class="active">编辑</li>
            </ul>
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">

                <div class="row">

                    <div class="col-md-3">
                        <!-- PAGE CONTENT LEFT -->
                        <div class="panel panel-default">
                            <div class="panel-body profile" style="background: url('content/img/backgrounds/wall_2.jpg') center center no-repeat;">
                                <div class="profile-image">
                                    <img src="content/img/users/user03.jpg" alt="芸香" />
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">芸香</div>
                                    <div class="profile-data-name">[学号]13421633</div>
                                </div>

                            </div>

                            <div class="panel-body list-group border-bottom">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="fa fa-square"></span> 荆职校区</li>
                                    <li class="list-group-item"><span class="fa fa-square"></span> 国信1307 [GX1307]</li>
                                    <li class="list-group-item"><span class="fa fa-square"></span> 缴费11000</li>
                                    <li class="list-group-item"><span class="fa fa-square"></span> 积分11000</li>
                                </ul>

                            </div>
                            <div class="panel-body">
                                <h4 class="text-title">相关记录</h4>
                                <div class="row">
                                    <div class="col-md-4 col-xs-4">
                                        <a href="#" class="friend">
                                            <img src="content/img/buttons/button_00.png" />
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <a href="#" class="friend">
                                            <img src="content/img/buttons/button_01.png" />
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <a href="#" class="friend">
                                            <img src="content/img/buttons/button_02.png" />
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <a href="#" class="friend">
                                            <img src="content/img/buttons/button_03.png" />
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END PAGE CONTENT LEFT -->

                    <div class="col-md-9">
                        <!-- PAGE CONTENT RIGHT -->
                        <form class="form-horizontal">

                            <div class="panel panel-default tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">学生信息</a></li>
                                    <li><a href="#tab-second" role="tab" data-toggle="tab">学生档案</a></li>
                                    <li><a href="#tab-third" role="tab" data-toggle="tab">考试成绩</a></li>
                                </ul>
                                <div class="panel-body tab-content">
                                    <div class="tab-pane active" id="tab-first">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">姓名</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control" value="芸香" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">入学年份</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <select class="form-control select">
                                                        <option>2015</option>
                                                        <option>2014</option>
                                                        <option>2013</option>
                                                        <option>2012</option>
                                                        <option>2011</option>
                                                        <option>2010</option>
                                                        <option>2009</option>
                                                        <option>2008</option>
                                                        <option>2007</option>
                                                        <option>2006</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">性别</label>
                                                <div class="col-md-2 col-xs-12">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />男生
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" />女生
                                                        </label>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">邮箱</label>
                                                <div class="col-md-4 col-xs-12">
                                                    <input type="text" class="form-control" value="tujian@houp-e.com" readonly />
                                                    <span class="help-block">如需修改请联系超级管理员</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">登录密码</label>
                                                <div class="col-md-4 col-xs-12">
                                                    <button class="btn btn-danger btn-sm" type="button"><i class="glyphicon glyphicon-repeat"></i> 重置</button>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">出生日期</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control datepicker" value="2000-12-12" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">最后登录时间</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control" value="2000-12-12 12:28:15" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 col-xs-12 control-label"></label>
                                                <button class="btn btn-primary" type="submit">修改</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane " id="tab-second">
                                        <!-- 学生档案 -->
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">学籍号</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control" value="13421633" readonly />
                                                    <span class="help-block">如需修改请联系超级管理员</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">民族</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control" value="维吾尔族" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">班级</label>
                                                <div class="col-md-2 col-xs-12">
                                                    <select class="form-control select">
                                                        <option>企业信息化</option>
                                                        <option>.NET</option>
                                                        <option>JAVA</option>
                                                        <option>移动互联网</option>
                                                        <option>物联网</option>
                                                        <option>网络营销</option>
                                                        <option>GIS</option>
                                                        <option>UI</option>
                                                        <option>游戏</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-xs-12">
                                                    <select class="form-control select">
                                                        <option>国信1301</option>
                                                        <option>国信1302</option>
                                                        <option>国信1303</option>
                                                        <option>国信1304</option>
                                                        <option>国信1305</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">高中</label>
                                                <div class="col-md-3 col-xs-12">
                                                    <input type="text" class="form-control" value="武汉实验高中" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">家庭住址</label>
                                                <div class="col-md-5 col-xs-12">
                                                    <input type="text" class="form-control" value="湖北省武汉市洪山区关山大道软件园D8栋" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">联系电话</label>
                                                <div class="col-md-5 col-xs-12">
                                                    <input type="text" class="form-control" value="18907182762" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">QQ</label>
                                                <div class="col-md-5 col-xs-12">
                                                    <input type="text" class="form-control" value="1234567890" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">身份证</label>
                                                <div class="col-md-5 col-xs-12">
                                                    <input type="text" class="form-control" value="42010119990101123X" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">是否统招</label>
                                                <div class="col-md-2 col-xs-12">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked disabled />是
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" disabled />否
                                                        </label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 col-xs-12 control-label"></label>
                                                <button class="btn btn-primary" type="submit">修改</button>
                                            </div>
                                        </form>

                                        <!-- 学生档案 结束 -->
                                    </div>
                                    <div class="tab-pane " id="tab-third">
                                        <!-- 考试成绩 -->
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-2 col-xs-12 control-label"><span class="fa fa-plus-square"></span> 添加成绩</label>
                                                <div class="col-md-2 col-xs-12">
                                                    <select class="form-control select">
                                                        <option>第一学年</option>
                                                        <option>第二学年</option>
                                                        <option>第三学年</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" placeholder="笔试成绩" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-desktop"></span></span>
                                                        <input type="text" class="form-control" placeholder="机试成绩" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 col-xs-12 control-label">老师评价</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-xs-12 control-label"></label>

                                                <div class="col-md-2 col-xs-12">
                                                    <div class="input-group">
                                                        <button class="btn btn-primary" type="submit">添加成绩</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                        <hr>

                                        <!-- table content -->
                                        <div id="exam-list" class="table-responsive">
                                            <table class="table datatable_simple table-bordered table-actions table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>学期</th>
                                                        <th width="100">笔试</th>
                                                        <th width="100">机试</th>
                                                        <th width="100">老师评价</th>
                                                        <th width="100">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>第一学年</td>
                                                        <td><strong>89</strong></td>
                                                        <td><strong>78</strong></td>
                                                        <td>
                                                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="拥有很强的自信心和上进心，这从你一贯以来的表现就可以看出。独立和自觉使你在学习上去得了稳定的成绩。只是在与大家的交往方面，你还显得略为孤立，使你未能很好地融入集体。希今后在这方面加以注意，不断的超越目标，以使自己更加全面。">学生评价</button>

                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm" type="button" data-id="12">
                                                                <span class="fa fa-pencil"></span>编辑
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>第二学年    </td>
                                                        <td><strong>90</strong></td>
                                                        <td><strong>92</strong></td>
                                                        <td><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="该生性格活泼开朗，有较强的自信心和上进心，尊敬老师，团结同学，待人有礼，能虚心接受老师的教导，自觉遵守校规校纪。平时能积极参加体育锻炼和有益的文娱活动。思维灵活，接受能力较强，勤于思考，大胆质疑，成绩优良。">学生评价</button></td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm" type="button" data-id="13">
                                                                <span class="fa fa-pencil"></span>编辑
                                                            </button>
                                                        </td>
                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END table content -->
                                        <!-- 考试成绩 结束 -->
                                    </div>

                                </div>
                            </div>

                    </div>
                    <!-- END PAGE CONTENT RIGHT -->

                </div>

            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    



