@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>页面出现了错误</title>
</head>
<body>
    <div>
    您访问的页面出现了错误，无法正常显示！
    </div>
</body>
</html>
