<link href="@Url.Content("~/Content/css/fileinput/fileinput.min.css")" rel="stylesheet" />
<div class="modal" id="previewAgreementUploadpanel" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" data-backdrop="static">
    <!-- PAGE CONTENT WRAPPER row  -->
    <div class="modal-dialog">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="defModalHead"><span class="fa fa-text-width"></span>&nbsp;信息上传</h4>
                    </div>
                    <form>
                        <input type="file" name="txt_file" id="txt_file" class="file-loading" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>