<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div><h2>亚军：</h2><br /><a href="#1_1">松下空气净化器</a><br /><a href="#1_2">希捷新睿翼USB3.0桌面式硬盘</a><br /><a href="#1_3">红双喜DHS狂飙直拍双面反胶乒拍</a><br /><a href="#1_4">尤尼克斯全碳素超轻羽毛球拍</a><br /><a href="#1_5">永久铝合金折叠自行车</a><br /><a href="#1_6">华米AMAZFIT运动手表</a></div>
    </div>
    <hr />
    <div class="error-container">
        <div class="panel panel-default">
            <a id="1_1"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_1<label class="label label-danger">松下空气净化器</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.1_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.1_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.1_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/2.1_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/2.1_details_3.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_2"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_2<label class="label label-danger">希捷新睿翼USB3.0桌面式硬盘</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.2_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.2_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.2_details_1.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_3"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_3<label class="label label-danger">红双喜DHS狂飙直拍双面反胶乒拍</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.3_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.3_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.3_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_6.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_7.jpg" />
                <img class="img-responsive" src="~/jiang/2.3_details_8.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_4"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_4<label class="label label-danger">尤尼克斯全碳素超轻羽毛球拍</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.4_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.4_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.4_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/2.4_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/2.4_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/2.4_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/2.4_details_5.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_5"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_5<label class="label label-danger">永久铝合金折叠自行车</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.5_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.5_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.5_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/2.5_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/2.5_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/2.5_details_4.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_6"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号2_6<label class="label label-danger">华米AMAZFIT运动手表</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/2.6_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/2.6_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/2.6_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_6.jpg" />
                <img class="img-responsive" src="~/jiang/2.6_details_7.jpg" />
            </div>

        </div>
    </div>
</body>
</html>



  