<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div><h2>冠军：</h2><br /><a href="#1_1">鼎宏全自动足浴盆电动加热按摩深桶洗脚盆泡脚盆</a><br /><a href="#1_2">飞利浦迷你果汁机家用榨汁机</a><br /><a href="#1_3">美的微波炉</a><br /><a href="#1_4">任e行双镜头高清后视镜款行车记录仪</a><br /><a href="#1_5">NIKE耐克运动双肩炫彩气垫背包</a><br /><a href="#1_6">海尔车载空气净化器</a></div>
    </div>
    <hr />
    <div class="error-container">
        <div class="panel panel-default">
            <a id="1_1"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_1<label class="label label-danger">鼎宏全自动足浴盆电动加热按摩深桶洗脚盆泡脚盆</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.1_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.1_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.1_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_6.jpg" />
                <img class="img-responsive" src="~/jiang/3.1_details_7.jpg" />

            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_2"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_2<label class="label label-danger">飞利浦迷你果汁机家用榨汁机</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.2_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.2_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.2_details_1.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_3"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_3<label class="label label-danger">美的微波炉</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.3_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.3_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.3_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/3.3_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/3.3_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/3.3_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/3.3_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/3.3_details_6.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_4"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_4<label class="label label-danger">任e行双镜头高清后视镜款行车记录仪</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.4_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.4_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.4_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_6.jpg" />
                <img class="img-responsive" src="~/jiang/3.4_details_7.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_5"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_5<label class="label label-danger">NIKE耐克运动双肩炫彩气垫背包</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.5_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.5_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.5_details_1.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_6"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号3_6<label class="label label-danger">海尔车载空气净化器</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/3.6_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/3.6_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/3.6_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_6.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_7.jpg" />
                <img class="img-responsive" src="~/jiang/3.6_details_8.jpg" />
            </div>

        </div>
    </div>
</body>
</html>



