<div class="modal" id="edit-manager" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead"><span class="fa fa-pencil"></span> 查看实训班级</h4>
            </div>
            <div class="modal-body block">
                    <!-- start -->
                    <div id="question-list" class="table-responsive">
                        <table class="table datatable_studentinfo table-bordered table-actions table-hover">
                            <thead>
                                <tr>
                                    <th width="150" class="text-center">姓名</th>
                                    <th width="150" class="text-center">性别</th>
                                    <th width="150" class="text-center">最后登录时间</th>
                                    <th width="200" class="text-center">简历状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="QA_SelectList">
                                <tr class="text-center">
                                    <td valign="top" colspan="7" class="dataTables_empty">无数据</td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                    <!-- end -->


            </div>
            <div class="modal-footer">
                
            </div>

        </div>
    </div>
</div>