<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div><h2>冠军：</h2><br /><a href="#1_1">飞利浦扫地机器人</a><br /><a href="#1_2">icwatch 2 智能手表经典版</a><br /><a href="#1_3">健之源多功能超静音折叠跑步机</a><br /><a href="#1_4">雅马哈智能成年人儿童力度电子琴</a><br /><a href="#1_5">富士趣奇instax mini90相机</a><br /><a href="#1_6">飞特威mini电动平衡车儿童代步体感车</a></div>
    </div>
    <hr />
    <div class="error-container">
        <div class="panel panel-default">
            <a id="1_1"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_1<label class="label label-danger">飞利浦(PHILIPS)智能扫地机器人</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.1_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.1_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.1_details.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_2"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_2<label class="label label-danger">icwatch 2 智能手表经典版</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.2_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.2_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.2_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/1.2_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/1.2_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/1.2_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/1.2_details_5.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_3"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_3<label class="label label-danger">健之源家用款电动多功能折叠跑步机</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.3_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.3_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.3_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/1.3_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/1.3_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/1.3_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/1.3_details_5.jpg" />
                <img class="img-responsive" src="~/jiang/1.3_details_6.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_4"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_4<label class="label label-danger">雅马哈智能成年人儿童力度电子琴</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.4_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.4_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.4_details_1.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_5"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_5<label class="label label-danger">富士趣奇instax mini90相机</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.5_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.5_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.5_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/1.5_details_2.jpg" />
            </div>

        </div>
        <div class="panel panel-default">
            <a id="1_6"></a>
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">奖品编号1_6<label class="label label-danger">飞特威mini电动平衡车儿童代步体感车</label></h3>
            </div>
            <div class="panel-body">
                <div class="text-align:center">
                    <img class="img-responsive" src="~/jiang/1.6_head_1.jpg" />
                    <img class="img-responsive" src="~/jiang/1.6_head_2.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <img class="img-responsive" src="~/jiang/1.6_details_1.jpg" />
                <img class="img-responsive" src="~/jiang/1.6_details_2.jpg" />
                <img class="img-responsive" src="~/jiang/1.6_details_3.jpg" />
                <img class="img-responsive" src="~/jiang/1.6_details_4.jpg" />
                <img class="img-responsive" src="~/jiang/1.6_details_5.jpg" />
            </div>

        </div>
    </div>
</body>
</html>



