<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
   
        <div class="error-container">
            <div class="error-text"><h2>2016“厚溥杯”乒羽大赛奖项</h2></div>
            <div class="error-text"><hr /></div>
            <div class="error-text"><a href="/jiang/Champion">一等奖</a></div>
            <div class="error-text"><hr /></div>
            <div class="error-text"><a href="/jiang/RunnerUp">二等奖</a></div>
            <div class="error-text"><hr /></div>
            <div class="error-text"><a href="/jiang/Third">三等奖</a>
                <hr /></div>
      </div>
</body>
</html>



