@{int i = 1;}
<!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- SEARCH -->
    <li class="xn-search">
        <form role="form">
            <input type="text" name="search" placeholder="学生姓名..." />
        </form>
    </li>
    <!-- END SEARCH -->
    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <a href="#" class="btn-action-logout"><span class="fa fa-power-off"></span></a>
    </li>
    <!-- END SIGN OUT -->
    <!-- MESSAGE -->
    <li class="xn-icon-button pull-right">
    </li>
    <!-- END MESSAGE -->
    <li class="button pull-right">
        <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            @ViewBag.AdminName
        </a>
    </li>
</ul>
<!-- END X-NAVIGATION VERTICAL -->   