@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>源字符串：@ViewBag.Plaintext</p>
        <p>加密字符串：@ViewBag.Encrypttext</p>
        <p>反向解密字符串：@ViewBag.Decrypttext</p>
    
    </div>
</body>
</html>
